= simple_form_for(shop, url: admin_shop_path(shop) ) do |form|
  = form.input :account_status, as: :boolean, checked_value: true, unchecked_value: false, label: "premium shop :"
  = form.input :url
  = button_to "Save", onclick: "$(this.form).submit()"