= simple_form_for(@shop, class: "form_add_edit_shop") do |f|
  = f.error_notification
  .col-md-8
    .form-inputs
      = f.input :name, label: false, placeholder: "Shop Name",  input_html:  { class: "form-control" }
      = f.input :address, label: false, placeholder: "Address", input_html:  { class: "form-control" }
      #shop_telephone
        = f.input :telephone, label: false, placeholder: "Telephone", input_html: { class: "form-control" }
        = f.input :mobile_phones, label: false, placeholder: "Mobile Phones", input_html: { class: "form-control" }
      = f.input :business_name, label: false, placeholder: "www.yourbusinessname.com", input_html: { class: "form-control" }
      = f.input :business_email, label: false, placeholder: "Business Email", input_html: { class: "form-control" }
      - if @shop.scategories.any?
        = f.simple_fields_for :scategory_shops, @shop.scategory_shops do |o|
          = o.hidden_field :id
          = o.hidden_field :_destroy, class: "scategory-destroy"
        .current-category
          - @shop.scategories.each do |c|
            h4.current-category-name = c.name
          button class="remove-scategory" type="button" Change category

      div id="categories"
      = f.input :categories, placeholder: "e.g. Computer or Tradisional", input_html: { class: "form-control", id: "search-category" }
      = f.input :image, as: :file, input_html: { class: "form-control" }
      = f.input :cover_image, as: :file, input_html: { class: "form-control"}
      .opening-hour
        = f.simple_fields_for :opening_hours, @shop.opening_hours || @shop.opening_hours.new do |o|
          = render 'opening_hour_fields', f: o
        .links
          br/
          button type='button' id='btn-destroy' class="hide" remove
          = link_to_add_association 'Add Hours', f, :opening_hours, class: "btn btn-default"
      hr
      = f.input :description, placeholder: "About your shop", input_html: { class: "form-control" }
      br/
      hr
    .form-actions
      = f.button :submit,  class: "btn btn-primary"
      = link_to 'Back', shops_path, class: "btn btn-default"

javascript:
  b = $('.current-category-name').length
  s = b
    function log( name, id ) {
      category_taken = $('.category-title').text();
      if(category_taken.indexOf(name) < 0){
        s++;
        ids= new Date($.now())/1;
        $( "<div class='category' id='"+ids+"'>" ).appendTo("#categories");
        $( "<h4 class='category-title'>" ).text( name ).addClass("btn").appendTo( "#"+ids );
        $( "<input type='hidden' name='shop[scategory_shops_attributes]["+ids+"][scategory_id]' value="+id+" />" ).appendTo( "#"+ids );
        $("<input type='hidden' name='shop[opening_hours_attributes]["+ids+"][_destroy]'' value='false'>").appendTo( "#"+ids );
        $("#btn-destroy").clone(true).removeClass("hide").appendTo( "#"+ids );
        if(s == 3){
          $( ".shop_categories" ).hide();
        }
      } else {
        alert('That category has already choosen');
      }
    }

   $( "#search-category" ).autocomplete({
     source: function( request, response ) {
       $.ajax({
         url: "/shop/autocompletecategory",
         dataType: "json",
         data: {
           search: request.term
         },
         success: function( data ) {
           response($.map(data, function(item) {
              return {
                label: item.name,
                code: item.id
              };
            }));
         }
       });
     },
     minLength: 3,
      select: function( event, ui ) {
          log( ui.item.label, ui.item.code );
          $(this).val(''); return false;
        }
   });

  $('#btn-destroy').click(function(){
    $(this).parent('.category').remove();
    s--;
    if(s < 3){
      $( ".shop_categories" ).show();
    }
  })

  $('.remove-scategory').click(function(){
    $('.current-category').addClass("hide");
    alert(s);
    s = s-b;
    alert(s);
    $('.scategory-destroy').each(function(index, element){
      $('.scategory-destroy')[index].value = 1
    if(s < 3){
      $( ".shop_categories" ).show();
    }
    });
  });

